/* vars */
:root {
    --graywhite: rgb(207, 207, 207);
    --darkgray: #110f0f;
  }

/* global rules */
html, body {
    margin: 0;
    /* height: 100%; */
    background-color: var(--darkgray);
    overflow: scroll;
    cursor: url("../assets/circle.png"), default;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* fix for phone tlit horizontal view */
@media screen and (max-height: 615px) {
  #particles-js {
    height: 180vh !important;
  }

  .about {
    margin-top: 140vh !important;
  }
}

/* fix for phone tlit horizontal view */
@media screen and (max-height: 690px) {
  #contact {
    height: 87vh !important;
  }
}

/* fix for phone tlit horizontal view */
@media screen and (max-height: 650px) {
  #contact {
    height: 95vh !important;
  }
}

/* fix for phone tlit horizontal view */
@media screen and (max-height: 585px) {
  #contact {
    height: 105vh !important;
  }
}

/* fix for phone tlit horizontal view */
@media screen and (max-height: 585px) {
  #contact {
    height: 110vh !important;
  }

  .footer {
    height: 30vh !important;
  }

  #enter-project {
    margin-top: 3em;
  }
}

/* fix for phone tlit horizontal view */
@media screen and (max-height: 485px) {
  #contact {
    height: 127vh !important;
  }
}

/* fix for phone tlit horizontal view */
@media screen and (max-height: 465px) {
  #contact {
    height: 135vh !important;
  }

  .container-form-btn {
    margin-top: 1.1em;
  }
}

/* fix for phone tlit horizontal view */
@media screen and (max-height: 435px) {
  #contact {
    height: 145vh !important;
  }

  .container-form-btn {
    margin-top: 1.1em;
  }
}

/* fix for phone tlit horizontal view */
@media screen and (max-height: 405px) {
  #contact {
    height: 160vh !important;
  }

  .container-form-btn {
    margin-top: 1.1em;
  }
}

/* fix for phone tlit horizontal view */
@media screen and (max-height: 370px) {
  #contact {
    height: 167vh !important;
  }

  .container-form-btn {
    margin-top: 1.1em;
  }
}

/* loading section handle */
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: hidden;
  background-color: var(--darkgray);
}

.loading-text {
    font-size: 4rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to right,#ff9966, #ff5e62);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.loading-text-container {
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: center;
  top: 32em;
}

@media screen and (min-height: 880px) {
  .loading-text-container {
    top: 40em;
  }
}

/* loading animations */
.loader {
  position: absolute;
  width: 20vh;
  height: 20vh;
  top: 50%;
  left: 50%;
  margin-top: -10vh;
  margin-left: -10vh;
  perspective: 60vh;
}
.loader:before,
.loader:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.loader:before {
  left: -13.333333333333334vh;
  background: linear-gradient(135deg, #fccf31, rgba(245,85,85,0.95));
  transform: translateZ(0vh);
  z-index: 1;
  animation: rotation1 1.5s ease-out infinite;
}
.loader:after {
  right: -13.333333333333334vh;
  background: linear-gradient(135deg, #e2b0ff, rgba(159,68,211,0.95));
  transform: translateZ(0vh);
  z-index: 1;
  animation: rotation2 1.5s ease-out infinite;
}
@-moz-keyframes rotation1 {
  25% {
    left: 0;
    transform: translateZ(-10vh);
  }
  50% {
    left: 13.333333333333334vh;
    transform: translateZ(0vh);
  }
  75% {
    left: 0;
    transform: translateZ(20vh);
    z-index: 2;
  }
}
@-webkit-keyframes rotation1 {
  25% {
    left: 0;
    transform: translateZ(-10vh);
  }
  50% {
    left: 13.333333333333334vh;
    transform: translateZ(0vh);
  }
  75% {
    left: 0;
    transform: translateZ(20vh);
    z-index: 2;
  }
}
@-o-keyframes rotation1 {
  25% {
    left: 0;
    transform: translateZ(-10vh);
  }
  50% {
    left: 13.333333333333334vh;
    transform: translateZ(0vh);
  }
  75% {
    left: 0;
    transform: translateZ(20vh);
    z-index: 2;
  }
}
@keyframes rotation1 {
  25% {
    left: 0;
    transform: translateZ(-10vh);
  }
  50% {
    left: 13.333333333333334vh;
    transform: translateZ(0vh);
  }
  75% {
    left: 0;
    transform: translateZ(20vh);
    z-index: 2;
  }
}
@-moz-keyframes rotation2 {
  25% {
    right: 0;
    transform: translateZ(20vh);
    z-index: 2;
  }
  50% {
    right: 13.333333333333334vh;
    transform: translateZ(0vh);
  }
  75% {
    right: 0;
    transform: translateZ(-10vh);
  }
}
@-webkit-keyframes rotation2 {
  25% {
    right: 0;
    transform: translateZ(20vh);
    z-index: 2;
  }
  50% {
    right: 13.333333333333334vh;
    transform: translateZ(0vh);
  }
  75% {
    right: 0;
    transform: translateZ(-10vh);
  }
}
@-o-keyframes rotation2 {
  25% {
    right: 0;
    transform: translateZ(20vh);
    z-index: 2;
  }
  50% {
    right: 13.333333333333334vh;
    transform: translateZ(0vh);
  }
  75% {
    right: 0;
    transform: translateZ(-10vh);
  }
}
@keyframes rotation2 {
  25% {
    right: 0;
    transform: translateZ(20vh);
    z-index: 2;
  }
  50% {
    right: 13.333333333333334vh;
    transform: translateZ(0vh);
  }
  75% {
    right: 0;
    transform: translateZ(-10vh);
  }
}

/* div with the whole body of the website for particles effect */
#particles-js {
    width: 100%;
    height: 100vh;
    background-color: var(--darkgray);
    z-index: -999;
    /* clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%); */
}

/* header handle logo and navs */
header {
    display: flex;
    justify-content: space-between;
    height: 8em;
}

/* cancel a tag defult values */
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: inherit;
}

/* logo div */
.logo {
    display: flex;
    width: 18em;
    height: 100%;
}

/* reduce logo size on phone devices */
@media screen and (max-width: 430px) {
    .logo {
        width: 14em;
    }
  }

/* logo full svg */
.logo .logo-svg {
    padding-left: 1.5em;
    width: 13em;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* logo svg pops in from left on page load animation */
@keyframes popInLeft {
    0% {
        margin-left: -12em;
    }
    100% {
        margin-top: 0;
     }
}

/* logo svg text */
.logo #logo-text {
    stroke: var(--graywhite);
}

/* header nav container  */
.top-nav-container {
    display: flex;
    align-items: center;
}

/* header nav container list */
.top-nav-list {
    color: var(--graywhite);
    list-style: none;
    padding-right: 1.5em;
    /* animation: popInDown ease 1s; */
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* top nav list pops in from above on page load animation */
@keyframes popInDown {
    0% {
        margin-top: -20em;
    }
    100% {
        margin-top: 0;
     }
}

/* header nav container list items */
.top-nav-item {
    position: relative;
    display: inline-block;
    font-size: 1.4rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0.9;
    padding-left: 0.6em;
}

/* header nav container list items on hover */
.top-nav-item:hover {
    background: linear-gradient(to right,#ff9966, #ff5e62);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* nav list item on hover added class for animation */
.hovered {
    animation: zoomInOut 1.5s linear infinite;
}

/* zoom in out animation for nav list item on hover added class */
@keyframes zoomInOut {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.2); }
    100% { transform: scale(1); }
  }

/* hamburger manu nav */
.hamburger-icon {
    position: fixed;
    right: -0.6em;
    margin-right: 0px;
    z-index: 990;
}

#nav {
  position: fixed;
  z-index: 981;
}

#blue {
  position: fixed;
}

/* hide hamburger manu and drawer div when screen width is bigger then 781px */
@media screen and (min-width: 781px) {
  .hamburger-icon {
    display: none;
  }
  
  #nav {
    display: none;
  }
}

/* create hamburger manu and drawer div when screen width is smaller then 780px */
@media screen and (max-width: 780px) {
  .top-nav-list {
    display: none;
  }

  /* hamburger manu lines */
  .icon-1, .icon-2, .icon-3 {
    width: 32px;
    height: 3px;
    background-color: black;
    transition: all 320ms cubic-bezier(0.4, 0.98, 0.52, 1.8);
  }
  
  .icon-1 {
    transform: translateY(-8px);
    /* animation-delay: 100ms; */
    position: relative;
  }
  
  .icon-3 {
    transform: translateY(8px);
    /* animation-delay: 250ms; */
    position: relative;
  }
  
  .hamburger-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    width: 60px;
    margin-right: 1.5em;
    z-index: 990;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    background: rgba(255, 255, 255, 0.2);
  }

  .hamburger-icon:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  }
  
  .icon-1.a {
    transform: rotate(40deg);
  }
  
  .icon-3.b {
    transform: rotate(-40deg);
  }
  
  .icon-2.c {
    opacity: 0;
  }
  
  .clear {
    clear: both;
  }
  
  @keyframes slideIn {
    0% {
      width: 0%;
      opacity: 0;
    }
    100% {
      width: -50%;
      opacity: 1;
    }
  }
  nav {
    background: rgba(80, 74, 74, 0.884);
    backdrop-filter: saturate(30%) blur(4px);
    -webkit-backdrop-filter: saturate(30%) blur(4px);
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    right: 0;
    padding-top: 12em;
    height: 100%;
    width: 0%;
    z-index: 10;
    opacity: 0;
    transition: all 600ms cubic-bezier(0.62, 0.04, 0.3, 1.56);
    transition-delay: 100ms;
  }
  nav ul {
    margin: 0;
    position: absolute;
    display: none;
  }
  nav ul li {
    list-style: none;
    font-size: 24px;
    color: #fff;
    line-height: 2.2;
    text-transform: uppercase;
    letter-spacing: 1.7px;
  }
  nav.show {
    width: 50%;
    opacity: 1;
  }

  nav.show ul {
    display: block;
  }
  
  .dark-blue {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(72, 66, 66, 0.596);
    backdrop-filter: saturate(20%) blur(4px);
    -webkit-backdrop-filter: saturate(20%) blur(4px);
    height: 100%;
    width: 0%;
    transition: all 500ms cubic-bezier(0.62, 0.04, 0.3, 1.8);
    transition-delay: 50ms;
    z-index: 5;
    opacity: 1;
    z-index: 980;
  }
  
  .dark-blue.slide {
    width: 50%;
    opacity: 1;
  }
  
  @keyframes shotup {
    0% {
      transform: translateY(300%);
      opacity: 0;
    }
    90% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}

/* header nav container list */
.top-nav-list-hamburger {
  color: var(--graywhite);
  list-style: none;
  padding-left: 0;
  animation: popInDownHamburger ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.top-nav-list-hamburger li {
  display: block;
}

/* top nav list pops in from above on page load animation */
@keyframes popInDownHamburger {
  0% {
      opacity: 0;
  }
  100% {
    opacity: 1;
   }
}

/* reduce right and left padding for logo and manu when screen width is smaller then 382px */
@media screen and (max-width: 382px) {
  /* .hamburger-icon {
    margin-right: 0.7em;
  } */

  .logo .logo-svg {
    padding-left: 0.7em;
  }
}

/* end of header handle *** */

/* introduction section begining */

/* introduction section container */
.introduction {
    display: flex;
    position: absolute;
    width: 100%;
    height: 20em;
    /* left: 50%; */
    /* transform: translate(-50%); */
    justify-content: center;
    margin-top: 4em;
}

/* above screen width of 500px center intoduction div and take out 100% width sides so user can interect with particles */
@media screen and (min-width: 500px) {
  .introduction {
    width: 25em;
    left: 50%;
    transform: translate(-50%);
  }
}

/* div that holds the introduction animation*/
.my-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25em;
    background: rgb(30 29 29 / 30%);
    backdrop-filter: saturate(20%) blur(4px);
    box-shadow: 0 0 1rem 0 rgb(225 208 208 / 20%);
    border-radius: 5px;
}

/* introduction headline */
.headline {
  color: var(--graywhite);
  letter-spacing: 0.02em;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 0;
}

/* typing animation sentences */
.typing {
    letter-spacing: 0.01em;
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(to right,#ff9966, #ff5e62);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* typer line */
.typing::after {
    content: "";
    border-right: 0.1em solid var(--graywhite);
    margin-left: 0.05em;
    -webkit-animation: blink 1s infinite;
    animation: blink 1s infinite;
  }
  
  /* typer blink animation */
  @-webkit-keyframes blink {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes blink {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* see my work button */
  .see-my-work-btn-container {
    display: flex;
    position: absolute;
    width: 100%;
    margin-top: 28em;
    justify-content: center;
  }

  #view-work-btn {
    text-decoration: none;
    border: 3px solid;
    border-image-source: linear-gradient(to right,#ff9966, #ff5e62);
    color: transparent;
    padding: 40px 80px;
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 5px;
    transition: all 0.5s;
    position: relative;
    width: 8.3em;
    height: 0.5em;
    border-image-slice: 1;
    cursor: url("../assets/circle.png"), default;
  }

  /* handling btn size when screen width is smaller then 405px */
  @media screen and (max-width: 415px) {
    .see-my-work-btn-container {
      margin-top: 26.5em;
    }

    #view-work-btn {
      width: 5em;
    }
  }

  @media screen and (max-height: 665px) {
    .see-my-work-btn-container {
      margin-top: 23.5em;
    }

    .introduction {
      margin-top: 1.5em;
    }
  }

  @media screen and (min-height: 745px) {
    .see-my-work-btn-container {
      margin-top: 29.5em;
    }
  }

  @media screen and (min-height: 860px) {
    .see-my-work-btn-container {
      margin-top: 31em;
    }
  }

  @media screen and (min-height: 1100px) {
    .see-my-work-btn-container {
      margin-top: 40em;
    }

    .introduction {
      margin-top: 10em;
    }
  }

  #view-work-btn:before {
    content: "See My Work";
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--graywhite);
    background: rgb(34, 34, 34);
    font-size: 28px;
    top: 0;
    left: 100%;
    font-family: sans-serif;
    letter-spacing: 5px;
    transition: all 1s;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scale(0) rotatey(0);
    opacity: 0;
  }

  #view-work-btn:hover:before {
    transform: scale(1) rotatey(360deg);
    left: 0;
    opacity: 1;
  }

  #view-work-btn:after {
    content: "See My Work";
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--graywhite);
    background: rgb(30 29 29 / 30%);
    backdrop-filter: saturate(20%) blur(4px);
    box-shadow: 0 0 1rem 0 rgb(225 208 208 / 20%);
    border-radius: 5px;
    font-size: 28px;
    top: 0;
    left: 0;
    font-family: sans-serif;
    letter-spacing: 5px;
    transition: all 1s;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scale(1) rotatey(0);
    opacity: 1;
  }

  #view-work-btn:hover:after {
    transform: scale(0) rotatey(360deg);
    left: -100%;
    opacity: 0;
  }

/* end of see my work btn code */

/* projects section  */

input[type=radio] {
  display: none;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: inherit !important;
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.projects-slide {
  cursor: inherit;
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 950;
}

.cards {
  cursor: inherit;
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.project-img {
  cursor: inherit;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: fill;
}

.travel-app-img {
  object-position: left;
}

@media screen and (max-width: 652px) {
  .travel-app-img {
    object-position: 25%;
  }
}

/* .front-card > .container {
  display: block;
} */

/* .front-card {
  display: flex;
  justify-content: center;
  align-items: center;
} */

#item-1:checked ~ .cards #project-3,
#item-2:checked ~ .cards #project-1,
#item-3:checked ~ .cards #project-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #project-2,
#item-2:checked ~ .cards #project-3,
#item-3:checked ~ .cards #project-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #project-1,
#item-2:checked ~ .cards #project-2,
#item-3:checked ~ .cards #project-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#item-1:checked ~ .cards #project-1 > .project-img:hover,
#item-2:checked ~ .cards #project-2 > .project-img:hover,
#item-3:checked ~ .cards #project-3 > .project-img:hover {
  filter: brightness(45%) !important;
}

#item-1:checked ~ .cards #project-1 > .project-img:hover ~ .container,
#item-2:checked ~ .cards #project-2 > .project-img:hover ~ .container,
#item-3:checked ~ .cards #project-3 > .project-img:hover ~ .container,
#item-1:checked ~ .cards #project-1 > .container:hover,
#item-2:checked ~ .cards #project-2 > .container:hover,
#item-3:checked ~ .cards #project-3 > .container:hover {
  display: block;
}

@media screen and (max-width: 780px) {
  #item-1:checked ~ .cards #project-1 > .container,
  #item-2:checked ~ .cards #project-2 > .container,
  #item-3:checked ~ .cards #project-3 > .container {
    display: block;
    box-shadow: rgb(0 0 0 / 30%) -1px 3px 38px 20px, rgb(0 0 0 / 25%) 0px 15px 12px;
  }

  #item-1:checked ~ .cards #project-1 > .project-img:hover,
  #item-2:checked ~ .cards #project-2 > .project-img:hover,
  #item-3:checked ~ .cards #project-3 > .project-img:hover {
    filter: unset !important;
  }

  .submit-feedback {
    padding: 12px 20px !important;
  }
}

.player {
  cursor: inherit;
  background-color: #fcf9f92e;
  backdrop-filter: blur(8px);
  border-radius: 8px;
  min-width: 320px;
  padding: 16px 10px;
}

.upper-part {
  cursor: inherit;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  height: 40px;
  overflow: hidden;
}


.project-info {
  cursor: inherit;
  width: calc(100% - 32px);
  display: block;
}

.project-info .title {
  cursor: inherit;
  color: #232123;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.3rem;
  line-height: 24px;
}

.sub-line {
  cursor: inherit;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.subtitle {
  cursor: inherit;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  line-height: 15px;
  color: #4d4a4d;
}


.info-area {
  cursor: inherit;
  width: 100%;
  position: absolute;
  top: 0;
  left: 30px;
  transition: transform .4s ease-in;
}

#item-2:checked ~ .player #test {
  transform: translateY(0);
}

#item-2:checked ~ .player #test  {
  transform: translateY(-41px);
}

#item-3:checked ~ .player #test  {
  transform: translateY(-80px);
}


/* about me section */

/* //about me section main container */
.about {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* overflow: hidden; */
  width: 100vw;
  margin-top: 100vh;
  background-color: var(--darkgray);
}

/* container of all p elements in about section */
.about-p-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40em;
  max-width: 100%;
  margin-top: 2.5em;
}

/* adjusting margin top of section start to not touch the hamburger menu */
@media screen and (max-width: 754px) {
  .about-p-container {
    margin-top: 5.2em;
  }
}

/* adjusting margin top of section start to not touch the hamburger menu */
@media screen and (max-width: 568px) {
  .about-p-container {
    justify-content: flex-start;
  }
}

/* class for all the p elements in about section */
.about-disc {
  position: relative;
  color: var(--graywhite);
  font-size: 2rem;
  font-family: Gill Sans,Gill Sans MT,Calibri,Trebuchet MS,sans-serif;
  margin-bottom: 0;
  margin-top: 0em;
  padding: 0.6em;
  right: 350px;
  opacity: 0;
}

/* colored words in span */
.color-words {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg,#f96,#ff5e62);
    background-clip: text;
    -webkit-background-clip: text;
    /* awesome background-clip bug fixer!  */
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone; 
}

/* tech icons section  */

.tech-icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header of section  */
.tech-icons-header {
    position: relative;
    color: var(--graywhite);
    font-family: Gill Sans,Gill Sans MT,Calibri,Trebuchet MS,sans-serif;
    font-size: 1.6rem;
    left: 350px;
    opacity: 0;
}

/* all of the svg icons container  */
.tech-icons {
    display: flex;
    position: relative;
    opacity: 0;
    left: 350px;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* the svg icon  */
.programing-icon {
    width: 5em;
    height: 5em;
    padding: 0.5em;
    animation: rotate 6s infinite;
}

@keyframes rotate {
  0%, 60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* changing the icons layout into rows when screen width is less then 768px  */
@media screen and (max-width: 768px) {
  .programing-icon {
    flex: 33%;
    padding: 0.8em;
    padding-bottom: 2.2em;
  }
}


/* enter project btn code  */

.center-content, .container, .submit-feedback {
  display: grid;
  place-content: center;
}
.container {
  display: none;
  position: absolute;
  background: linear-gradient(90deg,#ffa0a0,#583C87);
  border-radius: 6px;
  margin-top: 10em;
  cursor: inherit;
}
.submit-feedback {
  background: linear-gradient(90deg,#f96,#ff5e62);
  font-family: Trebuchet MS,Lucida Sans Unicode,Lucida Grande,Lucida Sans,Arial,sans-serif;
  padding: 17px 30px;
  font-size: 24px;
  cursor: inherit;
  border-radius: 7px;
  color: var(--darkgray);
  transition: all 0.3s;
  box-shadow: #fcf9f92e;
  box-shadow: 4px 4px 4px #9287874f;
}
.submit-feedback:hover {
  color: var(--feedback-primary-color);
  background-color: var(--background-color);
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffacac' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  animation: animatedBackground 5s linear infinite alternate;
}
@keyframes animatedBackground {
  from {
    background-position: 0 0;
 }
  to {
    background-position: 100% 0;
 }
}

/* contact form section  */

.contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2.5em;
  height: 85vh;
  width: 100vw;
  overflow: hidden;
  background-color: #1d1d1d;
}

.contact-form {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 350px;
}

.form-header {
  font-family: Gill Sans,Gill Sans MT,Calibri,Trebuchet MS,sans-serif;
  font-size: 2rem;
  background: linear-gradient(to right,#ff9966, #ff5e62);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-input {
  margin-top: 0.5em;
  height: 2.5em;
  border-radius: 7px;
  font-family: Gill Sans,Gill Sans MT,Calibri,Trebuchet MS,sans-serif;
  font-size: 1rem;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right,#ff9966, #ff5e62);
  border: 4px solid;
}

.contact-input:focus {
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg,#ffa0a0,#583C87);
  outline: none;
}

.contact-textarea {
  margin-top: 0.5em;
  border-radius: 7px;
  resize: none;
  font-family: Gill Sans,Gill Sans MT,Calibri,Trebuchet MS,sans-serif;
  font-size: 1rem;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right,#ff9966, #ff5e62);
  border: 4px solid;
}

.contact-textarea:focus {
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg,#ffa0a0,#583C87);
  outline: none;
}

/* submit button  */

.container-form-btn {
  display: grid;
  place-items: center;
  margin-top: 2em;
  cursor: inherit;
}

@media screen and (max-width: 400px) {
  .container-form-btn {
    margin-top: 1.3em;
  }
}

.btn, .myButton, .myButton::before {
  /* border: 2px solid; */
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg,#ffa0a0,#583C87);
  border-radius: 8px;
  cursor: pointer;
  min-width: 250px;
  min-height: 80px;
  cursor: inherit;
}
.myButton {
  background: linear-gradient(90deg,#ffa0a0,#583C87);
  border-radius: 8px;
  color: #ff9966;
  font-family: 'Lora', serif;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  position: relative;
  transform: skewX(20deg);
  cursor: inherit;
}
.myButton::before {
  content: attr(data-label);
  font-family: Trebuchet MS,Lucida Sans Unicode,Lucida Grande,Lucida Sans,Arial,sans-serif;
  background: white;
  display: grid;
  place-items: center;
  position: absolute;
  top: -1rem;
  left: 1rem;
  z-index: -1;
  transition: all 0.5s ease;
  border-radius: unset;
  cursor: inherit;
}
.myButton:hover::before {
  top: -2px;
  left: -2px;
}
.myButton:focus {
  outline: none;
}

/* footer section  */

/* footer container  */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 20vh;
  background-color: #272727;
}

/* social icons section  */

.social-icons-container {
  -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: flex-start;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
}
.icon-3d {
  padding: 10px;
  -webkit-animation: icon3d 200ms 10;
  animation: icon3d 200ms 10;
  color: #fff;
}
.icon-3d:hover {
  -webkit-animation: icon3d 200ms infinite;
  animation: icon3d 200ms infinite;
}
@keyframes icon3d {
  0% {
    text-shadow: 5px 4px #ffa0a0, -5px -6px #583C87;
 }
  25% {
    text-shadow: -5px -6px #ffa0a0, 5px 4px #583C87;
 }
  50% {
    text-shadow: 5px -4px #ffa0a0, -8px 4px #583C87;
 }
  75% {
    text-shadow: -8px -4px #ffa0a0, -5px -4px #583C87;
 }
  100% {
    text-shadow: -5px 0 #ffa0a0, 5px -4px #583C87;
 }
}

/* rights text section  */

.rights {
    font-size: 1.2rem;
    color: #8e8e8e;
    margin-top: 0.5em;
    font-family: Gill Sans,Gill Sans MT,Calibri,Trebuchet MS,sans-serif;
}