/* vars */
:root {
    --graywhite: rgb(207, 207, 207);
    --darkgray: #110f0f;
  }

/* global rules */
html, body {
    margin: 0;
    height: 100%;
    background-color: var(--darkgray);
    overflow: scroll;
    cursor: url("../assets/circle.png"), default;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* loading section handle */
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: hidden;
  background-color: var(--darkgray);
}

/* loading animations */
.loader {
  position: absolute;
  width: 20vh;
  height: 20vh;
  top: 50%;
  left: 50%;
  margin-top: -10vh;
  margin-left: -10vh;
  perspective: 60vh;
}
.loader:before,
.loader:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.loader:before {
  left: -13.333333333333334vh;
  background: linear-gradient(135deg, #fccf31, rgba(245,85,85,0.95));
  transform: translateZ(0vh);
  z-index: 1;
  animation: rotation1 1.5s ease-out infinite;
}
.loader:after {
  right: -13.333333333333334vh;
  background: linear-gradient(135deg, #e2b0ff, rgba(159,68,211,0.95));
  transform: translateZ(0vh);
  z-index: 1;
  animation: rotation2 1.5s ease-out infinite;
}
@-moz-keyframes rotation1 {
  25% {
    left: 0;
    transform: translateZ(-10vh);
  }
  50% {
    left: 13.333333333333334vh;
    transform: translateZ(0vh);
  }
  75% {
    left: 0;
    transform: translateZ(20vh);
    z-index: 2;
  }
}
@-webkit-keyframes rotation1 {
  25% {
    left: 0;
    transform: translateZ(-10vh);
  }
  50% {
    left: 13.333333333333334vh;
    transform: translateZ(0vh);
  }
  75% {
    left: 0;
    transform: translateZ(20vh);
    z-index: 2;
  }
}
@-o-keyframes rotation1 {
  25% {
    left: 0;
    transform: translateZ(-10vh);
  }
  50% {
    left: 13.333333333333334vh;
    transform: translateZ(0vh);
  }
  75% {
    left: 0;
    transform: translateZ(20vh);
    z-index: 2;
  }
}
@keyframes rotation1 {
  25% {
    left: 0;
    transform: translateZ(-10vh);
  }
  50% {
    left: 13.333333333333334vh;
    transform: translateZ(0vh);
  }
  75% {
    left: 0;
    transform: translateZ(20vh);
    z-index: 2;
  }
}
@-moz-keyframes rotation2 {
  25% {
    right: 0;
    transform: translateZ(20vh);
    z-index: 2;
  }
  50% {
    right: 13.333333333333334vh;
    transform: translateZ(0vh);
  }
  75% {
    right: 0;
    transform: translateZ(-10vh);
  }
}
@-webkit-keyframes rotation2 {
  25% {
    right: 0;
    transform: translateZ(20vh);
    z-index: 2;
  }
  50% {
    right: 13.333333333333334vh;
    transform: translateZ(0vh);
  }
  75% {
    right: 0;
    transform: translateZ(-10vh);
  }
}
@-o-keyframes rotation2 {
  25% {
    right: 0;
    transform: translateZ(20vh);
    z-index: 2;
  }
  50% {
    right: 13.333333333333334vh;
    transform: translateZ(0vh);
  }
  75% {
    right: 0;
    transform: translateZ(-10vh);
  }
}
@keyframes rotation2 {
  25% {
    right: 0;
    transform: translateZ(20vh);
    z-index: 2;
  }
  50% {
    right: 13.333333333333334vh;
    transform: translateZ(0vh);
  }
  75% {
    right: 0;
    transform: translateZ(-10vh);
  }
}

/* div with the whole body of the website for particles effect */
#particles-js {
    width: 100%;
    height: 101vh;
    background-color: var(--darkgray);
    z-index: -999;
    /* clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%); */
}

/* header handle logo and navs */
header {
    display: flex;
    justify-content: space-between;
    height: 8em;
}

/* cancel a tag defult values */
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: inherit;
}

/* logo div */
.logo {
    display: flex;
    width: 18em;
    height: 100%;
}

/* reduce logo size on phone devices */
@media screen and (max-width: 430px) {
    .logo {
        width: 14em;
    }
  }

/* logo full svg */
.logo .logo-svg {
    padding-top: 1em;
    padding-left: 1.5em;
    /* animation: popInLeft ease 800ms; */
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* logo svg pops in from left on page load animation */
@keyframes popInLeft {
    0% {
        margin-left: -12em;
    }
    100% {
        margin-top: 0;
     }
}

/* logo svg text */
.logo #logo-text {
    stroke: var(--graywhite);
}

/* header nav container  */
.top-nav-container {
    display: flex;
    align-items: center;
}

/* header nav container list */
.top-nav-list {
    color: var(--graywhite);
    list-style: none;
    padding-right: 1.5em;
    /* animation: popInDown ease 1s; */
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* top nav list pops in from above on page load animation */
@keyframes popInDown {
    0% {
        margin-top: -20em;
    }
    100% {
        margin-top: 0;
     }
}

/* header nav container list items */
.top-nav-item {
    position: relative;
    display: inline-block;
    font-size: 1.4rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0.9;
    padding-left: 0.6em;
}

/* header nav container list items on hover */
.top-nav-item:hover {
    background: linear-gradient(to right,#ff9966, #ff5e62);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* nav list item on hover added class for animation */
.hovered {
    animation: zoomInOut 1.5s linear infinite;
}

/* zoom in out animation for nav list item on hover added class */
@keyframes zoomInOut {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.2); }
    100% { transform: scale(1); }
  }

/* hamburger manu nav */
.hamburger-icon {
    position: fixed;
    right: -0.6em;
    margin-right: 0px;
}

#nav {
  position: fixed;
}

#blue {
  position: fixed;
}

/* hide hamburger manu and drawer div when screen width is bigger then 781px */
@media screen and (min-width: 781px) {
  .hamburger-icon {
    display: none;
  }
  
  #nav {
    display: none;
  }
}

/* create hamburger manu and drawer div when screen width is smaller then 780px */
@media screen and (max-width: 780px) {
  .top-nav-list {
    display: none;
  }

  /* hamburger manu lines */
  .icon-1, .icon-2, .icon-3 {
    width: 32px;
    height: 3px;
    background-color: black;
    transition: all 320ms cubic-bezier(0.4, 0.98, 0.52, 1.8);
  }
  
  .icon-1 {
    transform: translateY(-8px);
    /* animation-delay: 100ms; */
    position: relative;
  }
  
  .icon-3 {
    transform: translateY(8px);
    /* animation-delay: 250ms; */
    position: relative;
  }
  
  .hamburger-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    width: 60px;
    margin-right: 1.5em;
    z-index: 1000;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    background: rgba(255, 255, 255, 0.2);
  }

  .hamburger-icon:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  }
  
  .icon-1.a {
    transform: rotate(40deg);
  }
  
  .icon-3.b {
    transform: rotate(-40deg);
  }
  
  .icon-2.c {
    opacity: 0;
  }
  
  .clear {
    clear: both;
  }
  
  @keyframes slideIn {
    0% {
      width: 0%;
      opacity: 0;
    }
    100% {
      width: -50%;
      opacity: 1;
    }
  }
  nav {
    background: rgb(80 74 74 / 30%);
    backdrop-filter: saturate(20%) blur(4px);
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    right: 0;
    padding-top: 12em;
    height: 100%;
    width: 0%;
    z-index: 10;
    opacity: 0;
    transition: all 600ms cubic-bezier(0.62, 0.04, 0.3, 1.56);
    transition-delay: 100ms;
  }
  nav ul {
    margin: 0;
    position: absolute;
    display: none;
  }
  nav ul li {
    list-style: none;
    font-size: 24px;
    color: #fff;
    line-height: 2.2;
    text-transform: uppercase;
    letter-spacing: 1.7px;
  }
  nav.show {
    width: 50%;
    opacity: 1;
  }

  nav.show ul {
    display: block;
  }
  
  .dark-blue {
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(72 66 66 / 42%);
    backdrop-filter: saturate(20%) blur(4px);
    height: 100%;
    width: 0%;
    transition: all 500ms cubic-bezier(0.62, 0.04, 0.3, 1.8);
    transition-delay: 50ms;
    z-index: 5;
    opacity: 1;
  }
  
  .dark-blue.slide {
    width: 50%;
    opacity: 1;
  }
  
  @keyframes shotup {
    0% {
      transform: translateY(300%);
      opacity: 0;
    }
    90% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}

/* header nav container list */
.top-nav-list-hamburger {
  color: var(--graywhite);
  list-style: none;
  padding-left: 0;
  animation: popInDownHamburger ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.top-nav-list-hamburger li {
  display: block;
}

/* top nav list pops in from above on page load animation */
@keyframes popInDownHamburger {
  0% {
      opacity: 0;
  }
  100% {
    opacity: 1;
   }
}

/* reduce right and left padding for logo and manu when screen width is smaller then 382px */
@media screen and (max-width: 382px) {
  /* .hamburger-icon {
    margin-right: 0.7em;
  } */

  .logo .logo-svg {
    padding-left: 0.7em;
  }
}

/* end of header handle *** */

/* introduction section begining */

/* introduction section container */
.introduction {
    display: flex;
    position: absolute;
    width: 100%;
    height: 20em;
    justify-content: center;
    margin-top: 4em;
}

/* div that holds the introduction animation*/
.my-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25em;
    background: rgb(30 29 29 / 30%);
    backdrop-filter: saturate(20%) blur(4px);
    box-shadow: 0 0 1rem 0 rgb(225 208 208 / 20%);
    border-radius: 5px;
}

/* introduction headline */
.headline {
  color: var(--graywhite);
  letter-spacing: 0.02em;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 0;
}

/* typing animation sentences */
.typing {
    letter-spacing: 0.03em;
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(to right,#ff9966, #ff5e62);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* typer line */
.typing::after {
    content: "";
    border-right: 0.1em solid var(--graywhite);
    margin-left: 0.05em;
    -webkit-animation: blink 1s infinite;
    animation: blink 1s infinite;
  }
  
  /* typer blink animation */
  @-webkit-keyframes blink {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes blink {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* see my work button */
  .see-my-work-btn-container {
    display: flex;
    position: absolute;
    width: 100%;
    margin-top: 28em;
    justify-content: center;
  }

  #view-work-btn {
    text-decoration: none;
    border: 3px solid;
    border-image-source: linear-gradient(to right,#ff9966, #ff5e62);
    color: transparent;
    padding: 40px 80px;
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 5px;
    transition: all 0.5s;
    position: relative;
    width: 8.3em;
    height: 0.5em;
    border-image-slice: 1;
    cursor: url("../assets/circle.png"), default;
  }

  /* handling btn size when screen width is smaller then 405px */
  @media screen and (max-width: 415px) {
    .see-my-work-btn-container {
      margin-top: 26.5em;
    }

    #view-work-btn {
      width: 5em;
    }
  }

  @media screen and (max-height: 665px) {
    .see-my-work-btn-container {
      margin-top: 23.5em;
    }

    .introduction {
      margin-top: 1.5em;
    }
  }

  @media screen and (min-height: 745px) {
    .see-my-work-btn-container {
      margin-top: 29.5em;
    }
  }

  @media screen and (min-height: 860px) {
    .see-my-work-btn-container {
      margin-top: 31em;
    }
  }

  @media screen and (min-height: 1100px) {
    .see-my-work-btn-container {
      margin-top: 40em;
    }

    .introduction {
      margin-top: 10em;
    }
  }

  #view-work-btn:before {
    content: "See My Work";
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--graywhite);
    background: rgb(34, 34, 34);
    font-size: 28px;
    top: 0;
    left: 100%;
    font-family: sans-serif;
    letter-spacing: 5px;
    transition: all 1s;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scale(0) rotatey(0);
    opacity: 0;
  }

  #view-work-btn:hover:before {
    transform: scale(1) rotatey(360deg);
    left: 0;
    opacity: 1;
  }

  #view-work-btn:after {
    content: "See My Work";
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--graywhite);
    background: rgb(30 29 29 / 30%);
    backdrop-filter: saturate(20%) blur(4px);
    box-shadow: 0 0 1rem 0 rgb(225 208 208 / 20%);
    border-radius: 5px;
    font-size: 28px;
    top: 0;
    left: 0;
    font-family: sans-serif;
    letter-spacing: 5px;
    transition: all 1s;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scale(1) rotatey(0);
    opacity: 1;
  }

  #view-work-btn:hover:after {
    transform: scale(0) rotatey(360deg);
    left: -100%;
    opacity: 0;
  }

  /* end of see my work btn code */

